
.signoutbutton {
  background-color: #ff2d2d;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  user-select: none;
}

.signoutbutton:hover,
.signoutbutton:focus {
    background-color: #00aaff;
}
